@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf'), url('../fonts/HelveticaNeueLTStd-Blk.otf'), 
    url('../fonts/HelveticaNeueLTStd-Ex.otf'), url('../fonts/HelveticaNeueLTStd-Hv.otf'), 
    url('../fonts/HelveticaNeueLTStd-Lt.otf'), url('../fonts/HelveticaNeueLTStd-Th.otf');
}

body {
	font-family: 'Helvetica Neue';
}

.pie
{
	background: #430098;
	color: #fff;
}

nav.navbar ul.nav  li {
	font-family: "Helvetica Neue", sans-serif;
    background-color: #430098;
    
}
nav.navbar ul.nav  li a{
	padding:12px 22px;
	  display: block;
	  color: #fff;
}
nav.navbarul li.nav  a.active {
	background:#321d49;
}
nav.navbar ul.nav  li a:hover {
	background: #b8b0c1;
}
nav.navbar ul.nav li {
    
}
 

.encabezado {
	background: url('../images/main-title3.png') no-repeat 0px 0px;
	border-top: 10px solid #ffffff;
	color: #fff;
	margin-bottom: 20px; 

}

.main{
	background: #f2f2f2;
	margin-bottom: 20px; 
}


