@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf'), url('../fonts/HelveticaNeueLTStd-Blk.otf'), 
    url('../fonts/HelveticaNeueLTStd-Ex.otf'), url('../fonts/HelveticaNeueLTStd-Hv.otf'), 
    url('../fonts/HelveticaNeueLTStd-Lt.otf'), url('../fonts/HelveticaNeueLTStd-Th.otf');
}

.encabezado {
	background: url('../images/main-title3.png') no-repeat 0px 0px;
	border-top: 10px solid #ffffff;
	color: #fff;
	margin-bottom: 20px; 

}

.main{
	background: #f2f2f2;
	margin-bottom: 20px; 
}

aside{
	background: #FF5F49;
	margin-bottom: 20px; 
}