@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeueLTStd-Bd.otf'), url('../fonts/HelveticaNeueLTStd-Blk.otf'), 
    url('../fonts/HelveticaNeueLTStd-Ex.otf'), url('../fonts/HelveticaNeueLTStd-Hv.otf'), 
    url('../fonts/HelveticaNeueLTStd-Lt.otf'), url('../fonts/HelveticaNeueLTStd-Th.otf');
}

body {
	font-family: 'Helvetica Neue';
}

nav.navbar{
	background: #fff;
	 border: 1px solid #fff;
}

nav.navbar ul.nav  li {
	font-family: "Helvetica Neue", sans-serif;
    background-color: #430098;
    
}
nav.navbar ul.nav  li a{
	padding:12px 22px;
	  display: block;
	  color: #fff;
}
nav.navbarul li.nav  a.active {
	background:#321d49;
}
nav.navbar ul.nav  li a:hover {
	background: #b8b0c1;
}
nav.navbar ul.nav li {
    
}
 
h4 {
	color: #3b69dd;
}
.encabezado {
	background: url('../images/main-title.png') no-repeat 0px 0px;
	border-top: 10px solid #ffffff;
	color: #fff;
	margin-bottom: 20px; 

}

.encabezadoIndex {
	background: url('../images/main-title.png') no-repeat 0px 0px;
	border-top: 10px solid #ffffff;
	color: #fff;
	margin-bottom: 20px; 
	width: 100%;

}

.encabezadoHistory {
	background: url('../images/history-title.png') no-repeat 0px 0px;
	border-top: 10px solid #ffffff;
	color: #fff;
	margin-bottom: 20px; 

}

.encabezadoShop {
	background: url('../images/shop-title.png') no-repeat 0px 0px;
	border-top: 10px solid #ffffff;
	color: #fff;
	margin-bottom: 20px; 

}

.pie
{
	background: #430098;
	color: #fff;
}

.pieIndex
{
	background: #430098;
	color: #fff;

}

.pieHistory
{
	background: #e27398;
	color: #fff;
}

.pieShop
{
	background: #d62a63;
	color: #fff;
}

.main{
	background: #ffffff;
	margin-bottom: 20px; 
}

.facebook{
	padding: 20px;
}

.instagram{
	padding: 20px;
}

.twitter{
	padding: 20px;
}

.youtube{
	padding: 20px;
}

.pinterest{
	padding: 20px;
}

.gplus{
	padding: 20px;
}
